/* was sass once, might look strange now */


html, body 
{
  margin:0;
  border:0;
  padding:0;
  font-family: helvetica;
  font-size: 30px;
  color: #404040;
}

body:full-screen {
    width:100%;
    height:100%;
}
 
body:fullscreen {
    width:100%;
    height:100%;
}
 
body:-webkit-full-screen {
  width:100%;
  height:100%;
}

body:-moz-full-screen {
  width:100%;
  height:100%;
}

.container
{
  padding: 40px;
  margin:auto;
  width:80%; 
  background: white;
}

.count 
{
  position: fixed;
  bottom: 1em;
  right: 1em;
}
 
h1, h2, h3, h4, h5, h6, p, blockquote {
  margin: 0;
  padding: 0; }

table {
  margin: 10px 0 15px 0;
  border-collapse: collapse; }

td, th {
  border: 1px solid #dddddd;
  padding: 3px 10px; }

th {
  padding: 5px 10px; }

a {
  color: #0069d6; }
  a:hover {
    color: #0050a3;
    text-decoration: none; }
  a img {
    border: none; }

p {
  margin-bottom: 9px; 
  font-size: 100%;
  }

h1, h2, h3, h4, h5, h6 {
  margin: 0.4em 0; }

h1 {
  margin-bottom: 18px;
  font-size: 300%; }

h2 {
  font-size: 200%; }

h3 {
  font-size: 175%; }

h4 {
  font-size: 150%; }

h5 {
  font-size: 120%; }

h6 {
  font-size: 110%; }

hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #cccccc; }

blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family: georgia, serif;
  font-style: italic; }
  blockquote:before {
    font-size: 40px;
    margin-left: -10px;
    font-family: georgia, serif;
    color: #eeeeee; }
  blockquote p {
    font-size: 100%;
    font-weight: 300;
    margin-bottom: 0;
    font-style: italic; }

code, pre {
  font-family: Monaco, Andale Mono, Courier New, monospace; }

code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
  padding-left: 0px;
  font-size: 80%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }


  .linenums {
    -webkit-padding-start: 50px;
  }




