<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="../assets/jquery.min.js"></script>
		<link rel="stylesheet" href="../assets/s3.min.css">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="slide">
			<%= content %>
		</div>
		<% if id > 0 %>
		<a id="prev" class="button" href="<%= id - 1 %>.html">&larr;</a>
		<% end %>
		<% if id < max %>
		<a id="next" class="button" href="<%= id + 1 %>.html">&rarr;</a>
		<% end %>
	<script type="text/javascript" src="../assets/s3.min.js"></script>
	</body>
</html>
